<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated kindness_metamodel -->
      <package
            uri="http://www.example.org/kindness_metamodel"
            class="kindness_metamodel.KindnessPackage"
            genModel="model/kindness_metamodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated kindness_metamodel -->
      <package
            uri="http://www.example.org/kindness_metamodel_factors"
            class="factors.FactorsPackage"
            genModel="model/kindness_metamodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated kindness_metamodel -->
      <package
            uri="http://www.example.org/kindness_metamodel_factors_social"
            class="factors.Social.NewPackage1Package"
            genModel="model/kindness_metamodel.genmodel"/>
   </extension>

</plugin>
